template(name='kiktop')
	p KIK test

	p {{ getMessage }}

	button#kikInit kikInit
	br

	button#userInfo userInfo
	br

	button#pickFriends pickFriends
	br

	button#sendMsg sendMsg
	br

	button#openChat openChat
	br

	button#showProfile showProfile
	br

	button#pickPhoto pickPhoto
	br

	button#getToken getToken
	br

	button#sendPush sendPush
	br


	hr
	a(href='/') home