template(name="mobile")
	meta(name="viewport", content="width=device-width")
	meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

	meta(name="apple-mobile-web-app-status-bar-style" content="black")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="mobile-web-app-capable" content="yes")

	link(rel="kik-icon" href="favicon.png")
	link(rel="canonical" href="http://kik.meteor.com")

	body(style="overflow:visible;")

		+yield
